/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 80px;
  padding-bottom: 20px;
}

.jumbotron {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.jumbotron h1 {
  text-align: center;
}

.navbar {
  min-height: 80px;
  margin-bottom: 10px;
  background-color: #fa6423;
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-size: 12px;
}

.navbar .navbar-nav > li > a {
  color: #fff;
}

.good {
  color: #5cb85c;
}

.bad {
  color: #d9534f;
}

p.betaFlag {
  text-align: center;
  font-weight: 500;
  color: #888;
}

body.loading:after {
  /* with no content, nothing is rendered */
  content: "";
  position: fixed;
  /* element stretched to cover during rotation an aspect ratio up to 1/10 */
  top: -500%;
  left: -500%;
  right: -500%;
  bottom: -500%;
  z-index: 9999;
  pointer-events: none;
  /* background */
  background-color: rgba(0,0,0,0.6);
  background-image: url(spinner.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100px 100px;
  /* animation */
  -webkit-animation-name: linearRotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes linearRotate {
  from {
    -webkit-transform:rotate(0deg);
  }
  to {
    -webkit-transform:rotate(360deg);
  }
}

.ace_editor {
  height: 30em;
}

