<!DOCTYPE html>
<html lang="en" ng-app="mdrlMigrationApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SparkPost: Mandrill Template Translation</title>

    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="main.css" rel="stylesheet">

    <link rel="icon" href="favicon-16.png" sizes="16x16" />
    <link rel="icon" href="favicon-32.png" sizes="32x32" />
    <link rel="icon" href="favicon-48.png" sizes="48x48" />
    <link rel="shortcut icon" href="favicon.ico" />

    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="migrate.js"></script>
  </head>

  <body ng-controller="MigratorControl" ng-class="loading ? 'loading' : ''">
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="https://www.sparkpost.com"><img src="https://developers.sparkpost.com/images/logo-sparkpost-white.png" alt="SparkPost" width="150"></a>
      </div>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <p>From here you can migrate a template from Mandrill to SparkPost.<br/>You will need a few things to hand to get started:</p>
              <dl class="dl-horizontal">
                <dt>Mandrill API Key</dt>
                <dd>Requires access to Mandrill's <code>templates/info</code>API call</dd>
                <dt>Mandrill template name</dt>
                <dd>Not the slug, the name :)</dd>
                <dt>SparkPost API Key</dt>
                <dd>Requires <code>Templates Read/Write</code> privileges<br>
                  <em>Note: If you're running the SparkPost Heroku addon, we have your API key to hand already.</em>
                </dd>
                </dt>
              </dl>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <form name="migrateFrm" ng-submit="migrate(migrateFrm.$valid)" novalidate>
              <div class="form-group">
                <label for="mdrlAPIKey">Mandrill API key <span class="text-warning" ng-show="migrateFrm.mdrlAPIKey.$touched && migrateFrm.mdrlAPIKey.$invalid">8+ chars required</span></label>
                <input ng-disabled="loading" type="text" ng-model="mdrlAPIKey" ng-minlength="8" required class="form-control" name="mdrlAPIKey" />
              </div>
              <div class="form-group">
                <label for="mdrlTpl">Mandrill template name <span class="text-warning" ng-show="migrateFrm.mdrlTpl.$touched && migrateFrm.mdrlTpl.$invalid">1+ chars required</span></label>
                <input ng-disabled="loading" type="text" ng-model="mdrlTpl" ng-minlength="1" required class="form-control" name="mdrlTpl" />
              </div>
              <div class="form-group">
                <label for="spAPIKey">SparkPost API key <span class="text-warning" ng-show="migrateFrm.spAPIKey.$touched && migrateFrm.spAPIKey.$invalid">8+ chars required</span></label>
                <input ng-disabled="loading || useHerokuSPAPIKey" type="text" ng-model="spAPIKey" ng-minlength="8" ng-required="!useHerokuSPAPIKey" class="form-control" name="spAPIKey" />
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <label for="useHerokuSPAPIKey">
                    <input type="checkbox" ng-model="useHerokuSPAPIKey" name="useHerokuSPAPIKey" id="useHerokuSPAPIKey"> Use your Heroku SparkPost addon key
                  </label>
                </div>
                <div class="checkbox">
                  <label for="useSandboxDomain">
                    <input type="checkbox" ng-model="useSandboxDomain" name="useSandboxDomain" id="useSandboxDomain"> Use sandbox domain <code>{{sandboxDomain}}</code> as the from address
                  </label>
                </div>
              </div>
              <button ng-disabled="loading || migrateFrm.$invalid" type="submit" class="btn btn-success btn-lg">Begin migration</button>
            </form>
          </div> 
          <div class="col-md-6">
            <h3>Migration Results</h3>
            <hr>
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
              <div ng-bind-html="alert.msg"></div>
            </uib-alert>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

